body{
    margin: 0;
    background-color: #98280f;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #E3350D;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #E3350D;
    color: white;
    height: 70px
}

#content{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#smallCard{
    height:180px;
    width: 150px;
    background-color: blue;
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    

}

.Balls{
    height: 70px;
    width: 70px;
    margin: 20px;
}

.footerBall{
    object-fit: cover;
    
}

.PokeImage{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img{
    height: 100%;
    width: 100%;
}

.PokeInfo{
    flex-direction: column;
    justify-content: end;
    align-items: start;
}
