body{
    margin: 0;
    background-color: #98280f;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #E3350D;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #E3350D;
    color: white;
    height: 70px
}

#content{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.smallCard{
    height:180px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.smallCard:hover{
    border: 3px solid whitesmoke;
    transform: scale(1.5);
    object-fit: contain;

}

.Balls{
    height: 70px;
    width: 70px;
    margin: 20px;
}

.footerBall{
    object-fit: cover;
    
}

.PokeImage{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img{
    height: 100%;
    width: 100%;
}

.PokeInfo{
    flex-direction: column;
    justify-content: end;
    align-items: start;
}



.blackscreen{
    background-color: rgba(0, 0, 0, 0.499);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;    
}
.d-none{
    display: none;
}
.bigCard{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

