
    <header>
        <img class="Balls" src="./img/pokeball-small.png" alt="kleiner Pokeball">
           <img src="./img/Pokedex-Logo.png" alt="Mein Pokedex">
           <img class="Balls" src="./img/pokeball-small.png" alt="kleiner Pokeball">
           
           <input type="text" id="search" onkeydown="filterPokemon()"> <button class="search-button" onclick="searchPokemon">Suchen</button>

           <a class="dexLink" href="index.html">Kanto</a><a class="dexLink" href="johto.html">Johto</a><a class="dexLink" href="hoenn.html">Hoenn</a>
        
    </header>
